<div class="row" style="margin-top: 15px;" >
  <div class="col-sm-12 input-group">
    <label class="cp_label cp-text-area-input-with-label checked">{{label}}
    </label>
    <textarea class="form-control" name="cp-name-text-area-with-label" rows="3" style="width: 100%;">
    </textarea>
  </div>
  <button (click)="openDialog()">EDIT</button>
  <button (click)="removeElement()">REMOVE</button>
  <button (click)="elementComponent.moveComponentDown(position, name)">MOVE DOWN</button>
  <button (click)="elementComponent.moveComponentUp(position, name)">MOVE UP</button>
</div>
