<div id="element-selection-tab">
  <div class="add-element" (click)="createComponent(textType)"><label>Text</label>
    <button>+</button>
  </div>
  <div class="add-element" (click)="createComponent(inputType)"><label>Input</label>
    <button>+</button>
  </div>
  <div class="add-element" (click)="createComponent(selectType)"><label>Select</label>
    <button>+</button>
  </div>
  <div class="add-element" (click)="createComponent(radioType)"><label>Radio buttons</label>
    <button>+</button>
  </div>
  <div class="add-element" (click)="createComponent(checkType)"><label>Checkboxes</label>
    <button>+</button>
  </div>
  <div class="add-element" (click)="createComponent(backToTopType)"><label>Back to top button</label>
    <button>+</button>
  </div>
</div>
