<div class="row cp_date-picker" style="margin-top: 20px;">
    <div class="col-sm-6 input-group">
        <label class="cp_date-picker_label">{{label}}</label>
    </div>
    <div class="col-sm-6 input-group" style="margin-top: 5px;">
        <input type="date" class="p_date-picker_input" style="margin-bottom: 10px;" placeholder="dd/mm/yyyy"/><br>
        <span class="cp_date-picker-help-text">{{helpText}}</span>
    </div>
    <button (click)="openDialog()" style="margin-top: 10px;">EDIT</button>
    <button (click)="removeElement()">REMOVE</button>
    <button (click)="elementComponent.moveDown(position, name)">MOVE DOWN</button>
    <button (click)="elementComponent.moveUp(position, name)">MOVE UP</button>
</div>
