<div class="row" style="margin-top: 15px;" [ngStyle]="{'order': position}">
  <div class="col-sm-6 input-group">
    <label class="cp-label cp-input-with-label checked">{{label}}</label></div>
  <div class="col-sm-6 input-group" style="margin-top: 15px;">
    <input type="text" class="form-control" style="width: 100%;" placeholder="{{placeholder}}" value=""/>
    <span>{{helpText}}</span>
  </div>
  <button (click)="openDialog()">EDIT</button>
  <button (click)="removeElement()">REMOVE</button>
  <button (click)="elementComponent.moveComponentDown(position, name)">MOVE DOWN</button>
  <button (click)="elementComponent.moveComponentUp(position, name)">MOVE UP</button>
</div>
