<div><h1 mat-dialog-title>Edit Input Field</h1>
  <label>Label </label>
  <input matInput [(ngModel)]="label" value=""><br>
  <label> Id / Name </label>
  <input matInput [(ngModel)]="id" value=""><br>
  <button (click)="addOption()">Add option </button>
</div>
<div *ngFor="let option of selectOptionValues; let i=index">
  <label> Option text </label>
  <input value="" [(ngModel)]="bufferOptionValues[i]">
  <button *ngIf="selectOptionValues.length > 2" (click)="removeOption(i)"> REMOVE </button><br>
</div>
<div mat-dialog-actions>
  <button (click)="populatingOptionValues()" [mat-dialog-close]="[label, id, selectOptionValues]">Save</button>
  <button [mat-dialog-close]="[]">Cancel</button>
</div>
