<div class="row" style="margin-top: 20px;">
    <div class="col-sm-12 input-group" style="line-height: 7.5px;">
      <p class="paragraph" style="margin-bottom: 0px; width: 100%;">{{paragraph}}</p><br>
    </div>
    <button (click)="openDialog()" style="margin-top: 10px;">EDIT</button>
    <button (click)="removeElement()">REMOVE</button>
    <button (click)="elementComponent.moveDown(position, name)">MOVE DOWN</button>
    <button (click)="elementComponent.moveUp(position, name)">MOVE UP</button>
  </div>